.autorespage {
    text-align:left;
}

.autores {
    margin-top:3em;
    float:left;
}

.autorestitulo {
    margin-right:2em; 
    margin-bottom: 3em;
    font-size:27px;
    text-align:center;
}


.autor-grid-item {
    position:relative;
    overflow:hidden;
    display:inline-table;
    padding-bottom:2em;
    max-width: 160px;
}

.autor-grid-item:hover {
    text-decoration: underline;
}

img.desature { 
    transition: filter 0.5s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: filter 0.5s ease;
    -webkit-filter: grayscale(1);
}

img.desature:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


img.highlight {
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
}