.author-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.author-photodiv{
    width: 50%;
}

.author-photo{
    max-width: 100%;
}

.author-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
}